html {
  scroll-behavior: smooth;
}

#nav-top {
  background: #000000;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

#nav-list {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.nav-item {
  font-size: 12px;
  text-transform: uppercase;
  margin: 8px;
}

.nav-item > a {
  color: #fff;
}


.item-link {
  text-decoration: none;
}

.item-link:hover {
  border: 1px solid transparent;
  border-radius: 360px;
  background-color: #363636;
}

#welcome {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100vh;
  margin-bottom: 128px;
  padding: 0;
}

#welcome-header {
  background-color: #87857d;
  width: 100%;
  height: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-header > header {
  width: 80%;
}

#banner {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../../assets/images/background-welcome.png") top / cover no-repeat;
  display: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#card-about-me {
  display: grid;
  grid-template-columns: 50% 50%;
}

#banner-about-me {
  background: url("../../assets/images/about-me.png") top / cover no-repeat;
  display: 100vh;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

#logo-container {
  width: 50%;
  height: auto;
  margin: 8px;
}

#logo-img {
  width: 20%;
}

#technologies {
  display: block;
}

.container-technologies {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
}

.card-experiences {
  max-width: 100%;
  max-height: auto;
  border: 1px solid transparent;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-visible {
  opacity: 1;
  transform: translateY(0);
}

.card-experiences:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;
}

.enterprise {
  width: 20%;
  height: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 8px;
}

#enterprise-totvs {
  background: url("../../assets/images/enterprises/totvs.png") top / cover
    no-repeat;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1 / 1;
}

#time-line {
  background-color: #000;
  width: 8px;
  height: auto;
}

.card-technologies {
  background: #ffffff;
  border: solid 0.2px transparent;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
}

.card-technologies:hover {
  border: solid 0.2px #87857d;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.5s;
}

#academic-projects {
  display: block;
}

.container-projects {
  display: grid;
  grid-template-columns: 100%;
}

.card-project {
  border: solid 0.3px transparent;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 8px;
}

.card-project:hover {
  border: solid 0.3px #0000001d;
  background-color: #000;
  color: #000;
  cursor: pointer;
  transition-duration: 0.5s;
}

.card-project:hover .card-project-title {
  color: #fff;
}

.card-project:hover p {
  color: #fff;
}

.card-project:hover .project-avatar{
  border: 1px solid #fff;
}

#hobbies {
  display: block;
}

.container-hobbies {
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-medias {
  display: block;
  background-color: #000;
}

.social-medias-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 8px;
  text-decoration: none;
  color: inherit;
  max-width: 100%;
  height: 100%;
}

.social-medias-link:hover {
  border: 0px solid transparent;
  border-radius: 4px;
  background-color: #363636;
}

.container-social-medias {
  display: flex;
  justify-content: center;
  align-items: center;
}

#list-enterprises {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: #000000;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

#copyright {
}

.button-primary {
  width: 50%;
  height: 32px;
  margin: 8px;
  padding: 8px;
  background-color: #000;
  border-radius: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-primary:hover {
  background: linear-gradient(45deg, #1a1a1a, #333);
}

.button-label {
  color: #fff;
}

#linkedin {
  display: flex;
  align-items: center;
  justify-items: center;
}

.label {
  color: #fff;
  padding: 4px;
}

.project-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 16px;
  border: 1px solid #000;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-project-content {
  width: 100%;
}