#welcome {
    background-image: url('../images/background-welcome.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 768px;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-top {
    background: #000000;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

#logo-container {
    width: 50%;
    height: auto;
    margin: 8px;
}

#logo-img {
    width: 20%;
}

#nav-list {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.nav-item {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 8px;
}

.nav-item:hover {
    font-size: 14px;
    font-weight: bold;
}

.item-link {
    text-decoration: none;
    color: white;
}

.item-link:hover {
    text-decoration: underline solid #ffffff 2px;
}

#technologies {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-technologies {
    background: #ffffff;
    border: solid 0.2px transparent;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
}

.card-technologies:hover {
    background: #0000000e;
    border: solid 0.2px #868686;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    width: 116px;
    height: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#academic-projects {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 8px;
    padding: 8px;
}

#star-wars {
    width: 300px;
    height: 300px;
}

#rick-morty {
    width: 300px;
    height: 300px;
}

#pokemon {
    width: 300px;
    height: 300px;
}

.projects {
    border: solid 0.3px transparent;
    border-radius: 4px;
    background-color: #000000;
    padding: 8px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.projects:hover {
    border: solid 0.3px #0000001d;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
}

.projects:hover > .label {
color: #000000;
}


#social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-medias-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
    text-decoration: none;
    color: inherit;
}

footer {
    background: #000000;
    bottom: 0;
    left: 0;
    width: 100%;
}

#copyright {
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
}