body {
    font-family: 'Nunito Sans', sans-serif;
}

.title {
    margin: 8px;
    padding: 8px;
}

.title-primary {
    font-size: 48px;
    margin: 0px 8px 8px 8px;
    color: #ffffff;
}

.title-secondary {
    font-size: 32px;
    color: #ffffff;
}

.title-third {
    font-size: 24px;
    font-weight: bold;
}

.paragraph {
    margin: 8px;
    padding: 8px;
}

.container {
    margin: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}